{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
    <div class="row text-center vertical-middle-sm">
        <h1>Login</h1>
        <p>Input username and password</p>
        <form class="form-horizontal" action="." method="post">{% csrf_token %}
{#            {{ form.as_p }}#}
{#            登录 #}
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}" class="col-sm-4 control-label">Username</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="Username" name="Username" placeholder="Username">
{#                        {{ form.username }}#}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.password.id_for_label }}" class="col-sm-4 control-label">Password</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" id="Password" name="Password" placeholder="Password">
{#                        {{ form.password }}#}
                    </div>
                </div>

                <!--<div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember me
                            </label>
                        </div>
                    </div>
                </div>-->

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-11">
                    {#                  <button type="submit" class="btn btn-default">Sign in</button>#}
                        <input class="btn btn-default" type="submit" value="Login">
                    </div>
                </div>
            </form>


        </form>

    </div>
{% endblock %}